body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5 !important ;
}

header {
   background: linear-gradient(45deg, #ff4d6d, #ff758f);
  color: white;
  text-align: center;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.produtos {
   text-align: center;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 50px;
  padding: 50px;
}

.produto {
   display: inline-block;
  margin: 50px;
  padding: 10px;
  border-radius: 20px;
  background: white;
}

.produto img {
  width: 200px !important;
   border-radius: 10px;
}

.produto a {
   display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.produto a:hover {
  background: #1ebe5d;
}

footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
  margin-top: 20px;
}

/* Responsivo (celular) */
@media (max-width: 600px) {
  .produtos {
    flex-direction: column;
    align-items: center;
  }
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.banner {
  background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)),
              url('https://via.placeholder.com/800x300') center/cover;
  color: white;
  text-align: center;
  padding: 10px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.banner p {
  font-size: 18px;
}

.preco {
  font-weight: bold;
  color: #ff4d6d;
}

.produto {
  transition: 0.3s;
}

.produto:hover {
   transform: scale(1.05);
}

.btn-banner {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: #222222;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn-banner:hover {
  background: #474747;
}

html {
  scroll-behavior: smooth;
}

nav {
  margin-top: 10px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

#contato {
  text-align: center;
  padding: 0px;
}

@media (max-width: 600px) {

  header {
    padding: 15px;
  }

  .banner {
    padding: 40px 10px;
  }

  .banner h2 {
    font-size: 22px;
  }

  .banner p {
    font-size: 14px;
  }

  .produto {
    display: block;
    margin: 15px auto;
  }

  .produto img {
    width: 80px;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }

}
