body {
  font-family: Arial;
  margin: 0;
  background:#f55f5f;
}

header {
  background: #ff4d6d;
  color: white;
  text-align: center;
  padding: 25px;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}

.produto {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  width: 180px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

.produto a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #25D366;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.produto a:hover {
  background: #1ebe5d;
}

footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
  margin-top: 20px;
}

/* Responsivo (celular) */
@media (max-width: 600px) {
  .produtos {
    flex-direction: column;
    align-items: center;
  }
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
